/* Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




/* Basic */

html {
    scroll-behavior: smooth;
    background: rgb(223, 224, 225);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(80, 80, 80);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

header {
    /* Layout */
    display: flex;
    flex-direction: column;

    color: rgb(240, 240, 240);

    /* Size */
    min-height: 100vh;

    /* Background */
    background: url(images/flowers.jpg);
    background-size: cover;
    background-position: center;
}

section {
    padding: 20px;

}

footer {
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
}

div {
    margin: auto;
    width: 100px;
}

ul {
    /* Layout */
    display: flex;
    justify-content: space-around;
    margin: 0;

    /* Formatting */
    list-style-type: none;
}

li {
    /* Margin and Padding */
    margin: 0, 50px;

    /* Formatting */
    text-align: center;
    font-size: 20px;
}

a {
    color: rgb(240, 240, 240);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    text-align: center;
    margin: 0;
    padding: 0;
    background: BLACK;
}

h1 {
    text-align: center;
    font-style: italic;
    font-size: 50px;
}

.content {
    /* Layout */
    display: flex;
    flex-direction: column;

    /* Margins and Padding */
    margin: 0 20%;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}

.nav {
    margin: 0, 20%;
}